:root {
    --foreground: #000000;
    --background: #ffffff;
    --desktop: #cccccc;
    --anchors: #0000ee;
    --anchors-visited: #3300ee;
    --font-stack-base: sans-serif;
    --font-stack-article: "Prestige Elite Std", monospace;
    --font-size: 16px;
    --max-width: 27rem;
    --margin-left: 4rem;
    --margin-right: var(--margin-left);
    --margin-top: 6rem;
    --margin-bottom: 2rem;
    --section-1-background: #40e0d0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #ffffff;
        --anchors: #ffff11;
        --anchors-visited: #ccff11;
        --section-1-background: #b50db5;
    }

    #logo {
        filter: invert();
    }
}