:root {
    --foreground: #000000;
    --background: #dadada;
    --background-content: #ffffff;
    --shadow: #00000080;
    --font-stack-base: serif;
    --font-stack-details: serif;
    --font-stack-warning: -system-ui, sans-serif;
    --font-stack-mono: monospace;
    --font-size: 16px;
    --max-width: calc(var(--font-size) * 48);
    --anchors: #0000ee;
    --anchors-visited: #3300ee;
    --nav-anchors: var(--foreground);
    --nav-ancors-visited: var(--foreground);
    --accent-color: #0000ee;
    --muted-color: #6a6a6a;
    --warning-background: #fff9cd;
    --warning-foreground: #720909;
    --warning-border: #720909;
    --warning-depth: 2px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1e1e;
        --foreground: #ffffff;
        --background-content: #3e3d3d;
        --shadow: #000000;
        --anchors: #eebb00;
        --anchors-visited: #c9770c;
        --accent-color: #e3c55a;
        --muted-color: #b3cef5;
        --warning-background: #8f6a0b;
        --warning-border: #b4c2d5;
        --warning-foreground: #6c0a0a;
    }
}