body {
    margin: 0;
    background-image: url(/img/dettami/g50.png);
    image-rendering: pixelated;
}

article {
    display: none;
}

img {
    width: 700px;
    image-rendering: pixelated;
}

.data {
    text-align: right;
}

@media only screen and (max-width: 700px) {
    img {
        max-width: 100%;
    }
}