main {
    width: 210mm;
    height: 297mm;
    background-image: url(/img/dettami/dettami-20250317.png);
    background-size: cover;
}

h1, ol, p {
    display: none;
}

p {
    text-align: right;
}

