---
---
$sans_fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$serif_fonts: "Crimson Pro", -apple-system-ui-serif, ui-serif, serif;
$emoji_fonts: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mono_fonts: "Courier Prime Sans", monospace;
$base_fonts: $sans_fonts, $emoji_fonts;

$max_width: 38rem;
$font_size: 11pt;

@import "theme_chimero";

@import "fonts";
@import "pulsanti";

@import "base";
@import "base_dark";
@import "header";
@import "footer";
@import "sections";

@import "single";

@import "cose_belle";
@import "cv";
@import "dieta";
@import "manuale";
@import "pubblicazione";
@import "saggi";
@import "spoiler";