/* Tag generici e classi funzionali */

html {
    font-size: var(--font-size);
    image-rendering: pixelated;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-stack-base);
    margin: 0;
}

a {
    color: var(--anchors);
}

a:visited {
    color: var(--anchors-visited);
}

.nascosto,
.hidden {
    display: none;
}

#homepage main {
    margin-left: 1rem;
    max-width: var(--max-width);
}

#logo {
    width: 100px;
}

#screen,
#who,
#what,
#how {
    font-size: 1.2rem;
    margin: .6rem;
    font-weight: 400;
    color: var(--foreground);
    text-transform: lowercase;
    list-style-type: none;
    padding-left: 0;
}

#how a {
    margin: 0;
}

#homepage header {
    margin: 20vh 0 0 10vw;
}

#homepage footer {
    text-align: center;
}

#homepage footer svg {
    height: 1.2rem;
    fill: var(--foreground);
}

#homepage h2 {
    font-weight: normal;
    font-size: 1rem;
}

#homepage section {
    margin-top: 2rem;
}

#homepage section:first-of-type {
    margin-top: 0;
}

#homepage #books {
    padding: 1rem;
    display: inline-block;
    background-color: var(--section-1-background);
}

#homepage #books ul {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

#homepage #books img {
    width: 100px;
}

#homepage #articles ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#homepage #articles .title {
    font-size: 1.2rem;
}

/* Articolo */

#back-home {
    font-size: .8rem;
    margin-left: 1rem;
}

article {
    margin-left: 2rem;
    max-width: var(--max-width);
}

article #title-block-header {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

article .title {
    font-size: 1.5rem;
}

article .subtitle {
    font-size: 1.2rem;
}

#footnotes {
    font-size: .9rem;
}

#footnotes hr {
    width: 20vw;
    display: inline-block;
}