/* Tag generici e classi funzionali */

html {
    font-size: var(--font-size);
    image-rendering: pixelated;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-stack-base);
    margin: 0;
}

a {
    color: var(--anchors);
}

#homepage main {
    margin: 20vh 0 0 10vw;
}

#who,
#what,
#how {
    font-size: 1.2rem;
    margin: .8rem;
    font-weight: 400;
    color: var(--foreground);
    text-transform: lowercase;
}

#how a {
    margin: 0;
}