@charset "UTF-8";
body, div, figure, figcaption, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, menu, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, strong, th, var {
  font-style: normal;
  font-weight: normal; }

code {
  font-family: Courier, monospace; }

strong {
  font-weight: bold;
  font-style: inherit; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

video {
  outline: none; }

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/crimson-reg.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/crimson-ita.woff") format("woff");
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/crimson-med.woff") format("woff");
  font-weight: 500;
  font-display: swap; }

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/crimson-bld.woff") format("woff");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Overpass Mono";
  src: url("../fonts/over-reg.woff") format("woff");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Barlow";
  src: url("../fonts/bar-reg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Barlow";
  src: url("../fonts/bar-ita.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Barlow";
  src: url("../fonts/bar-med.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Barlow";
  src: url("../fonts/bar-semi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Barlow Condensed";
  src: url("../fonts/barcon-reg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Flood";
  src: url("../fonts/flood.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

body {
  font-family: "Crimson Pro", serif;
  font-size: 62.5%;
  line-height: 2rem; }

a {
  color: black;
  text-decoration: none; }

a:visited {
  color: black; }

a:hover {
  color: #ffce00; }

h1, h2 {
  font-family: "Crimson Pro", serif;
  font-weight: 500; }

hr {
  border: 0;
  border-top: 2px solid #ddd;
  width: 20%;
  margin-top: 2em;
  margin-bottom: 2em; }

code {
  font-family: "Overpass Mono", mono;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  margin-left: 1rem; }

sup {
  vertical-align: top;
  font-size: 0.8rem;
  position: relative;
  top: -8px; }

.cerchio {
  border: 4px solid #f0f0f0;
  border-radius: 50%; }

div#content {
  max-width: 72rem;
  margin: 0 auto;
  flex: 1;
  width: 100%; }

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

#top-menu {
  height: 3rem;
  margin: 2rem auto 4rem auto;
  max-width: 72rem;
  text-align: center;
  font-family: "Barlow", "Source Sans Pro", sans-serif;
  font-size: 1rem;
  width: 100%; }

#top-menu a {
  margin-right: 4.5em;
  color: gray;
  text-decoration: none; }

#top-menu a:last-child {
  margin-right: 0; }

#top-menu a:hover {
  color: #333 !important;
  text-decoration: underline;
  text-decoration-color: #333 !important; }

#top-menu div:first-child {
  position: absolute;
  z-index: 10;
  padding-left: 1rem; }

#top-menu div:last-child {
  position: relative; }

@media only screen and (max-width: 40rem) {
  #top-menu div:first-child {
    position: relative;
    z-index: 0;
    padding-left: 1rem; } }

footer {
  background-color: #eee;
  color: #999;
  font-family: "Barlow", "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  border-top: 2px dashed white;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 4rem; }

footer a {
  color: grey; }

footer a:visited {
  color: grey; }

footer a:after {
  content: ' - '; }

footer a:last-child::after {
  content: ''; }

#file-not-found {
  font-family: "Crimson Pro", serif;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  text-align: center; }

#file-not-found h1 {
  padding-top: 3rem;
  font-size: 4rem;
  font-weight: 500; }

#file-not-found p {
  font-size: 2rem;
  margin-top: 4rem;
  text-align: center; }

#file-not-found p + p {
  margin-top: 2rem;
  text-indent: 0;
  font-size: 1.6rem; }

.page {
  max-width: 38rem !important; }

.page p {
  font-size: 1.3rem;
  margin: 0;
  hyphens: auto;
  text-align: justify; }

.page p a {
  text-decoration: underline;
  text-decoration-color: #ffce00; }

.page p + p {
  text-indent: 2rem; }

.page ul {
  margin: 1.4rem 0; }

.page ul li {
  font-size: 1.3rem;
  list-style-type: circle;
  margin-left: 2rem;
  margin-bottom: 0.6rem;
  padding-left: 0.6rem; }

.page #title {
  font-size: 3rem;
  margin-bottom: 3rem; }

.page .footnotes ol {
  list-style-type: decimal;
  font-size: 0.8rem; }

.page .footnotes p {
  font-size: 1rem;
  line-height: 1.2rem; }

.page article div {
  margin: 1rem 0; }

.page.blog #title {
  font-family: "Barlow", "Source Sans Pro", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.8rem;
  font-variant: small-caps;
  text-align: center; }

.titolo {
  font-style: italic; }

.section .post-card {
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
  display: flex; }

.section .cover .card.cover {
  border-radius: 4%; }

.section .text h3 {
  font-family: "Barlow", "Source Sans Pro", sans-serif;
  font-size: 1.4rem; }

#content.page #posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 1rem; }

#posts {
  font-family: "Barlow", "Source Sans Pro", sans-serif; }

#posts .post {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  width: 98%;
  line-height: 1.4rem; }

#posts .post .date {
  font-family: "Overpass Mono", mono;
  color: #333;
  font-size: 0.8rem;
  float: left;
  position: relative;
  top: 3px; }

.section #posts .post .date {
  margin-right: 1rem; }

#posts .post .body {
  margin-left: 6rem; }

#posts .post .title {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  font-weight: bold;
  margin-right: 1rem; }

#posts .post .button {
  background-color: #eee;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
  color: #aaa;
  font-family: "Overpass Mono", mono;
  position: relative;
  top: -2px;
  white-space: nowrap; }

#posts .post .tags .tag::before {
  content: "# "; }

#posts .post .categories .category::before {
  content: "§ "; }

#posts + .archive {
  margin: 1rem auto;
  border-radius: 1rem;
  font-size: 1rem;
  text-align: center;
  background-color: #ffce00;
  width: 8rem; }

#posts + .archive a:hover {
  text-decoration: none;
  color: #fff; }

.page.wall {
  max-width: 100% !important; }

.page.wall h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem; }

.page.wall .masonry {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center; }

.page.wall .entry {
  height: 250px;
  min-width: 150px;
  margin: 0 10px 10px 0;
  position: relative; }

.page.wall .entry img {
  border-radius: 0.3rem;
  height: 250px; }

.page.wall .input-toolbar {
  max-width: 30rem;
  text-align: center;
  font-family: "Barlow", "Source Sans Pro", sans-serif;
  margin: 0 auto;
  font-size: 1rem; }

.page.wall .input-toolbar .input {
  margin: 0 1.6rem;
  display: inline;
  white-space: nowrap; }

.page.wall .input-toolbar .input .input-control {
  margin-right: 0.4rem; }

.page.wall .entry .tooltip {
  min-width: 200px;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 10px 20px;
  color: #444444;
  background-color: #EEEEEE;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
  text-align: center; }

.page.wall .entry:hover .tooltip {
  display: block; }

.page.wall .entry .tooltip i {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden; }

.page.wall .entry .tooltip i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #EEEEEE;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5); }

.page.wall .entry .tooltip .title {
  font-family: "Barlow", "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500; }

.page.wall .entry .tooltip .date {
  font-family: "Barlow", "Source Sans Pro", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.06rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #ccc; }

.home.page {
  max-width: 72rem !important; }

.homepage-header {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  margin-bottom: 6rem; }

.homepage-header .logo {
  max-width: 10rem;
  margin-right: 5rem;
  float: left; }

.homepage-header .logo img {
  width: 10rem;
  position: relative; }

.homepage-header .intro h1 {
  font-family: "Crimson Pro", serif;
  font-weight: 500;
  font-size: 2.6rem;
  margin-bottom: .6em; }

.homepage-header .intro p {
  font-family: "Crimson Pro", serif;
  font-size: 1.8rem;
  line-height: 1em;
  margin: .4em 0;
  hyphens: none; }

.homepage-header a {
  text-decoration: underline;
  text-decoration-color: #ffce00; }

.page .posts {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; }

.page .post-row {
  text-align: center;
  margin-bottom: 2rem; }

.page .post-card {
  padding: 0 1rem;
  text-align: center;
  width: 15rem;
  display: inline-block; }

.page .post-card img {
  width: 15rem;
  border-radius: 0.3rem; }

.page .post-card h2 {
  font-size: 1.6rem; }

.scheda-wrapper {
  position: relative; }

.scheda {
  width: 200px;
  position: absolute;
  left: -250px;
  text-align: center;
  font-family: "Barlow", "Source Sans Pro", sans-serif; }

.scheda img {
  width: 200px; }

.scheda h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.4rem 0; }

.scheda p {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: -0.8rem; }

.scheda p + p {
  text-indent: 0; }

.scheda .icon {
  display: none; }

.intro p {
  font-size: 1.9rem;
  text-align: left;
  hyphens: none;
  margin-bottom: 1em;
  line-height: 2rem; }

.intro p + p {
  font-size: 1.5rem;
  text-indent: 0;
  margin-bottom: 0.4em; }

.page #toolbar {
  font-family: "Barlow", "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .02rem;
  flex-direction: row;
  flex-wrap: nowrap; }

.page #toolbar a {
  border-radius: 0.6rem;
  padding: 0.6rem 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  margin: 0 0.1rem; }

.page #toolbar a.active {
  text-decoration: underline;
  text-decoration-color: #ffce00; }

.page #toolbar-wrapper.sticky {
  overflow: hidden;
  position: absolute;
  left: 0; }

.page #toolbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  border-bottom: 2px solid #efefef;
  box-shadow: 0 0rem 1rem #888; }

.page #toolbar .logo {
  display: none;
  margin: 0;
  width: 0.8rem; }

.page .logo {
  text-align: center;
  margin-bottom: 2em; }

.page h3 {
  font-family: "Barlow", "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  letter-spacing: 0.04rem; }

.page .sezione::before {
  display: block;
  margin: -3.3rem 0 0;
  height: 3.3rem;
  content: ""; }

aside + p {
  text-indent: 2rem; }

.mansione {
  position: absolute;
  left: -14rem;
  font-family: "source sans pro";
  font-size: 1rem;
  font-variant: all-small-caps;
  letter-spacing: 0.1rem;
  font-weight: 500;
  width: 12rem;
  text-align: right;
  color: #777; }

#bottega-finzioni a {
  color: #005c92;
  text-decoration-color: #005c92; }

#bottega-finzioni a:hover {
  color: #0288d6; }

#bottega-finzioni strong, #bottega-finzioni aside {
  color: #005c92; }

#bottega-finzioni .logo {
  color: #005c92 !important; }

#finzioni-magazine a {
  color: #ea204d;
  text-decoration-color: #ea204d; }

#finzioni-magazine a:hover {
  color: #f3486d; }

#finzioni-magazine strong, #finzioni-magazine aside {
  color: #ea204d; }

#finzioni-magazine .logo {
  color: #ea204d !important; }

.page .chiusura {
  margin: 0 auto;
  width: 8rem;
  display: block; }

@media only screen and (max-width: 380px) {
  .page #toolbar {
    font-family: "Barlow Condensed", sans-serif; }
  .page #toolbar .logo {
    display: block; }
  .page #toolbar .label {
    display: none; } }

@media only screen and (max-width: 70rem) {
  .scheda {
    position: relative;
    left: 0;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #efefef; }
  .scheda p {
    display: inline;
    margin: 0.4rem; }
  .scheda .icon {
    display: inline; }
  .scheda .icon img {
    height: 1.6rem; }
  .scheda .label, .mansione {
    display: none; }
  .scheda h4 {
    margin-bottom: 1rem; } }

@media only screen and (max-width: 54rem) {
  #intestazione {
    margin-bottom: 2em; }
  .homepage-header .logo {
    margin: 2em auto;
    float: none; }
  .homepage-header .intro {
    text-align: center;
    clear: both; }
  .homepage-header .intro p {
    text-align: center; }
  #posts {
    grid-template-columns: repeat(1, 1fr) !important; } }
