<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jacopo Donati</title>
    <meta name="title" content="Jacopo Donati" />
    <meta name="description" content="un zuglèn" />
    <meta name="author" content="Jacopo Donati" />
    <meta name="robots" content="index, follow" />
    <!-- icone -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="apple-mobile-web-app-title" content="Jacopo Donati" />
    <meta name="application-name" content="Jacopo Donati" />
    <!-- stile -->
    <link rel="stylesheet" href="/css/baroccoco.css" />
    <link rel="stylesheet" href="/css/havana.css" id="tema-css"/>
    <script src="/js/cambio-tema.js"></script>
</head>