{%- if page.url == "/index.html" %}
    <title>{{ site.title }}</title>
    <meta name="title" content="{{ site.title }}">
    <meta name="description" content="{{ site.description }}">
{%- else %}
    <title>{{ page.title | capitalize }} · {{ site.title }}</title>
    <meta name="title" content="{{ page.title | capitalize }} su {{ site.title }}">
    <meta name="description" content="{{ page.description }}">
{%- endif %}
    <meta http-equiv="refresh" content="0;url=https://www.linkedin.com/in/jacopodonati/">
    <meta name="author" content="Jacopo Donati">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">