---
layout: default
class: cv
menu: footer
title: CV
permalink: /cv/
date: 2023-02-19T15:59:49+01:00
---

{%  for esperienza in site.data.cv.esperienze %}
    <div class="esperienza">
        <header class="header">
            <h3>{{ esperienza.ruolo }}</h3>
            <div class="datore">
            {%  if esperienza.datore.url %}
                <a href="{{ esperienza.datore.url }}">{{ esperienza.datore.nome }}</a>
            {% else %}
                {{ esperienza.datore.nome }}
            {% endif %}
            </div>
            <div class="data">
                <span class="dal">{{ esperienza.data.dal }}</span>
                <span class="freccia">&rarr;</span>
                <span class="linea">&ndash;</span>
                <span class="al">{{ esperienza.data.al }}</span>
            </div>
        </header>
        <p>{{ esperienza.descrizione }}</p>
    </div>
{% endfor %}