    <div id="home-header">
        <div class="left">
            <div class="nome">
                <a href="{{ site.url }}">{{ site.title }}</a>
            </div>
            <div id="location">📍 <span id="current_location">Bologna</span><span id="freccia" class="nascosto">→</span><span id="next_location"></span></div>
        </div>
        <div id="photo">
            {%-  assign profile_pic = site.avatar.path | append: site.avatar.filename -%}
            {%-  assign profile_pic_1x = site.avatar.path | append: site.avatar.size_1x -%}
            {%-  assign profile_pic_2x = site.avatar.path | append: site.avatar.size_2x -%}
            {%-  assign profile_pic_3x = site.avatar.path | append: site.avatar.size_3x -%}
            {%-  assign profile_pic_4x = site.avatar.path | append: site.avatar.size_4x -%}
            <img src="{{ profile_pic | relative_url }}" srcset="{{ profile_pic_1x | relative_url }} 1x, {{ profile_pic_2x | relative_url }} 2x, {{ profile_pic_3x | relative_url }} 3x, {{ profile_pic_4x | relative_url }} 4x" alt="Jacopo Donati" width="72px" height="72px">
        </div>
    </div>