<aside id="word-chart">
    {%- assign data = site.data.words | sort: "date" %}
    {%- assign days = '' | split: '' %}
    {%- assign current_date = data.first.date | date: '%Y-%m-%d' %}
    {%- assign current_count = 0 %}
    {%- for record in data %}
        {%- assign date = record.date | date: '%Y-%m-%d' %}
        {%- if date == current_date %}
            {%- assign current_count = current_count | plus: record.number_of_words %}
        {%- else %}
            {%- assign days = days | push: current_count %}
            {%- assign old_date = current_date | date: '%s' %}
            {%- assign current_date = record.date | date: '%s' %}
            {%- assign days_in_between = current_date | minus: old_date | divided_by: 3600 | divided_by: 24 | round %}
            {%- if days_in_between > 0 %}
                {%- assign days_in_between = days_in_between | minus: 1 %}
                {%- for empty_day in (1..days_in_between) %}
                    {%- assign days = days | push: 0 %}
                {%- endfor %}
            {%- endif %}
            {%- assign current_count = record.number_of_words | plus: 0 %}
            {%- assign current_date = record.date | date: '%Y-%m-%d' %}
        {%- endif %}
    {%- endfor %}
    {%- assign days = days | push: current_count %}
    {%- unless days == empty %}
        {%- assign width = 6 %}
        {%- assign x_pos = 0 %}
        {%- assign gap = 3 %}
        {%- assign goal = 1000 %}
        {%- assign scaler = 20 %}
    <svg class="chart" role="img">
        {%- for day in days reversed %}
            {%- assign words = day %}
            {%- if words > 0 %}
                {%- assign classes = "record" %}
                {%- if words >= goal %}
                    {%- assign classes = classes | append: " success" %}
                {%- endif %}
                <rect class="{{ classes }}" width="{{ width }}" height="{{ words | divided_by: scaler }}" x="{{ x_pos }}" y="0"><title>{{ words }}</title></rect>
            {%- endif %}
            {%- assign x_pos = x_pos | plus: width | plus: gap %}
        {%- endfor %}
        <line class="goal" x1="0" x2="100%" y1="{{ goal | divided_by: scaler }}" y2="{{ goal | divided_by: scaler }}">
        </line>
    </svg>
    {%- endunless %}
</aside>