:root {
    --background: #d2feff;
    --foreground: #2e1c2f;
    --font-size: 18px;
    --font-stack: "Times New Roman", Times, serif;
    --anchors: #d317aa;
    --anchors-visited: #5f20a6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ad3e98;
        --foreground: #cbe0e7;
        --anchors: #ffe600;
        --anchors-visited: #eda33b;
    }
}