body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--base-fonts);
    font-size: var(--font-size);
    line-height: 1.5;
}

#home-header, #content > section, #home-footer {
    max-width: var(--max-width);
    margin: 0 auto;
}

#home-footer {
    margin-top: 8rem;
}

#content > section {
    margin: 4rem auto;
}

a {
    color: var(--link);
    transition: .4s;

    &:visited {
        transition: .4s;
        color: var(--link);
    }

    &:hover {
        transition: .4s;
        color: var(--link-hover);
    }

    &:active {
        transition: .4s;
        color: var(--link-active);
    }
}

h1 {
    font-size: 1rem;
    font-weight: bold;
}

sup {
    line-height: 0;
    font-size: .6rem;
    position: relative;
    margin-left: .1rem;

    a {
        text-decoration: none;
    }
}

blockquote {
    margin-right: 0;
    
    p {
        font-size: .8rem;
    }
}

.for-print {
    display: none;
}

.nascosto {
    display: none;
}

.back {
    text-align: center;
    font-size: .8rem;
    margin-top: 2rem;

    a {
        text-decoration: none;
    }
}

#fnf {
    text-align: center;

    img {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        max-width: 100%;
        border-radius: .4rem;
    }
}

.split {
    display: grid;
    grid-template-columns: clamp(8em, 20vw, 9em) 1fr;
    align-items: baseline;
    margin-bottom: .8em;
    
    .label {
        color: var(--label-color);
        font-weight: 500;
    }
}

#altro {
    text-align: center;
    font-size: .8rem;

    ul {
        padding: 0;
        display: inline;

        li {
            display: inline-block;
            margin: .4rem 1rem;
        }
    }
}

#word-chart {
    position: relative;

    svg {
        bottom: 0;
        position: absolute;
        height: 100px;
        width: 100%;
        transform: rotate(180deg);
        
        .goal {
            opacity: .4;
            stroke: #a51515;
        }

        .record {
            fill: var(--button-background);
            opacity: .4;
            transition: .2s;
            
            &:hover {
                opacity: 1;
                transition: .2s;
            }
        }

        .record.success {
            fill: var(--success);
        }
    }
}

@media only screen and (max-width: 800px) {
    html {
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    p {
        text-align: justify;
        hyphens: auto;
        -webkit-hyphens: auto;
    }

    footer p {
        text-align: center;
    }
}