@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark_background_color;
        color: $dark_text_color;
    }

    a {
        color: $dark_link;
        
        &:visited {
            color: $dark_link;
        }
    
        &:hover {
            color: $dark_link_hover;
        }
    
        &:active {
            color: $dark_link_active;
        }
    }
    
    .split {
        .label {
            color: $dark_label_color;
        }
    }
}