body {
    background-color: $background_color;
    color: $text_color;
    font-family: $base_fonts, $emoji_fonts;
    font-size: $font_size;
    line-height: 1.5;
}

#home-header, #content > section, #home-footer {
    max-width: $max_width;
    margin: 0 auto;
}

#home-footer {
    margin-top: 8rem;
}

#content > section {
    margin: 4rem auto;
}

a {
    color: $link;
    transition: .4s;

    &:visited {
        transition: .4s;
        color: $link;
    }

    &:hover {
        transition: .4s;
        color: $link_hover;
    }

    &:active {
        transition: .4s;
        color: $link_active;
    }
}

h1 {
    font-size: 1rem;
    font-weight: bold;
}

sup {
    line-height: 0;
    position: relative;
}

.nascosto {
    display: none;
}

#fnf {
    text-align: center;

    img {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        max-width: 100%;
        border-radius: .4rem;
    }
}

.split {
    display: grid;
    grid-template-columns: clamp(8em, 20vw, 9em) 1fr;
    align-items: baseline;
    margin-bottom: .8em;
    
    .label {
        color: $label_color;
        font-weight: 500;
    }
    
    /* VECCHI STILI PER I PROGETTI A FONDO PAGINA
    .year {
        color: adjust-color($color: $text_color, $lightness: 40%);
        font-size: .8rem;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .project {
        h3 {
            font-size: 1rem;
            font-weight: 500;
            margin: 1rem 0 .4rem 0;
        }

        .description {
            color: adjust-color($color: $text_color, $lightness: 20%);
        }
    }
    VECCHI STILI PER I PROGETTI A FONDO PAGINA */
}

#altro {
    text-align: center;
    font-size: .8rem;

    ul {
        padding: 0;
        display: inline;

        li {
            display: inline-block;
            margin: .4rem 1rem;
        }
    }
}

@media only screen and (max-width: 800px) {
    html {
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    p {
        text-align: justify;
        hyphens: auto;
        -webkit-hyphens: auto;
    }

    footer p {
        text-align: center;
    }
}