#cose-belle {
    font-size: 2.2rem;
    padding: 2rem 3rem;
    font-family: $serif_fonts;
    font-weight: 360;
    text-align: center;

    .frase {
        opacity: .2;
        transition: all 2s;

        &.focus {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 720px) {
    #cose-belle {
        font-size: 1.4rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 360px) {
    #cose-belle {
        font-size: 1rem;
        padding: 1rem;
    }
}