#content.cv {
    .esperienza {
        position: relative;
        max-width: 32rem;
        padding-left: 6rem;
        margin: 0 auto 2rem auto;

        .header {
            h3 {
                margin-bottom: 0;
                font-weight: 500;
            }

            .datore {
                position: absolute;
                top: 0.4rem;
                right: 0;
                font-size: .8rem;
                font-weight: 500;
            }

            .data {
                text-align: center;
                position: absolute;
                left: 1rem;
                top: .16rem;
                font-size: .9rem;

                span {
                    display: block;
                }

                .linea {
                    display: none;
                }
                
                .freccia {
                    transform: rotate(90deg);
                }
            }
        }

        a {
            text-transform: none;
        }
    }
}

@media screen and (max-width: 736px) {
    #cv {
        .esperienza {
            padding-left: 0;

            .header {
                h3 {
                    margin-bottom: 0;
                }

                .data {
                    position: relative;
                    text-align: left;
                    left: 0;
                    font-size: .8rem;

                    span {
                        display: inline;
                    }

                    .freccia {
                        transform: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    #cv {
        .esperienza {
            padding-left: 0;

            .header {
                .datore {
                    position: relative;
                    margin-bottom: .4rem;
                }
            }
        }
    }
}



@media only screen and (max-width: 500px) {
    #content.cv {
        .esperienza {
            padding-left: 0;

            .header {
                .datore {
                    position: relative;
                }

                .data {
                    font-size: .8rem;
                    position: relative;
                    text-align: left;
                    left: 0;
                    top: 0;
                    margin-top: .4rem;

                    .dal, .al, .linea {
                        display: inline;
                    }

                    .freccia {
                        display: none;
                    }
                }
            }
        }
    }
}