@font-face {
    font-family: "Merchant Copy";
    src: url("/assets/fonts/mc-reg.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Merchant Copy Double";
    src: url("/assets/fonts/mc-double.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Merchant Copy Wide";
    src: url("/assets/fonts/mc-wide.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Crimson Pro";
    src: url("/assets/fonts/cp-reg.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Crimson Pro";
    src: url("/assets/fonts/cp-ita.woff2") format('woff2');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Courier Prime Sans";
    src: url("/assets/fonts/cps-reg.woff2") format('woff2');
    font-display: swap;
}