@font-face {
    font-family: "Merchant Copy";
    src: url("/fonts/mc-reg.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Merchant Copy Double";
    src: url("/fonts/mc-double.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Merchant Copy Wide";
    src: url("/fonts/mc-wide.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Crimson Pro";
    src: url("/fonts/cp-reg.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Crimson Pro";
    src: url("/fonts/cp-ita.woff2") format('woff2');
    font-style: italic;
    font-display: swap;
}