#home-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 8rem;
    margin-top: 4rem;

    .nome {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;

        a {
            text-decoration: none;
        }
    }

    #location {
        color: $label_color;

        #freccia {
            padding: 0 .4rem;
        }
    }

    #photo {
        img {
            border-radius: 100%;
            width: 72px;
        }
    }
}