.i-ching {
    .hex-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 2rem;
    
        .hex-design {
            max-width: 10rem;
            
            svg {
                width: 100%;

                g {
                    opacity: 0;
                }

                .vuota {
                    opacity: 1;
                }

                .modificatore {
                    fill: #e30000;
                }

                .nascondi-elemento {
                    opacity: 0;
                }

                .mostra-elemento {
                    opacity: 1;
                }
            }
        }

        .selector {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            button {
                &:disabled {
                    background-color: palegoldenrod;
                }

                svg {
                    width: 4rem;
                }
            }
        }
    }

    #hex-text {
        background-color: $content_color;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin: 2rem auto;
        padding: 2rem 4rem;
        max-width: $max_width;
        display: none;

        #hex-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 2rem;
            font-weight: 500;
            text-align: center;
            align-items: center;
        }
    }


    #altro {
        margin-top: 4rem;
    }
}