@media (prefers-color-scheme: dark) {
    .i-ching {
        #hex-text, article {
            background-color: $dark_content_color;
        }

        .linea {
            fill: $dark_text_color;
        }

        .selector {
            button {
                svg {
                    .yin, .yang {
                        fill: $dark_button_text;
                    }

                    .modificatore {
                        fill: mix($dark_button_text, $dark_button_background, $weight: 50%) 
                    }
                }
            }
        }
    }
}