.i-ching {
    .hex-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 2rem;
        
        .linea {
            fill: var(--text-color);
        }

        .hex-design {
            max-width: 10rem;
            
            svg {
                width: 100%;

                g {
                    opacity: 0;
                }

                .vuota {
                    opacity: 1;
                }

                .modificatore {
                    fill: #e30000;
                }

                .nascondi-elemento {
                    opacity: 0;
                }

                .mostra-elemento {
                    opacity: 1;
                }
            }
        }

        .selector {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            button {
                margin: 0;
                width: 6rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &:disabled {
                    background-color: peru;
                }

                svg {
                    width: 4rem;

                    .yin, .yang {
                        fill: var(--button-text);
                    }

                    .modificatore {
                        fill: #baaba4; 
                    }
                }
            }
        }
    }

    #hex-text {
        background-color: var(--content-color);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin: 2rem auto;
        padding: 2rem 4rem;
        max-width: var(--max-width);

        #hex-header {
            column-gap: 1rem;
            display: grid; 
            font-weight: 500;
            grid-auto-flow: column;
            grid-template-columns: repeat(2, minmax(0px, 1fr)); 
            grid-template-rows: repeat(5, auto);
            
            .symbol, .number, .name {
                text-align: center;
            }

            .symbol {
                font-size: 3rem;
            }

            .number {
                font-size: 1.4rem;
            }
            
            .name {
                font-size: 2rem;
                margin-bottom: 3.4rem;
            }
            
            .judgement, .image {
                white-space: pre-line;
                margin: 1rem 0;
                font-size: 1rem;
            }
            
            .image {
                font-style: italic;
            }

            &.one-column {
                grid-template-columns: 1fr !important;
            }
        }

        #hex-lines {
            padding-top: 2rem;
            border-top: 1px solid var(--button-background);
            margin-top: 2rem;

            .line {
                white-space: pre-line;
                margin: 1.4rem 0;

                .line-header {
                    font-weight: 600;
                    margin-bottom: .4rem;
                }
            }
        }
    }


    #altro {
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 500px) {
    #hex-header {
        grid-template-columns: 1fr !important;
        grid-auto-flow: initial !important;
    }
}

@media (prefers-color-scheme: dark) {
    .i-ching .selector .button svg .modificatore {
        fill: #918b88;
    }
}