#tag-selector, .tag-selector {
    margin: 2rem 0;
    text-align: center;
    width: 100%;
}

.manuale {
    #cork-board {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 auto;

        .quote {
            background-color: var(--content-color);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            border-radius: 1px;
            font-family: var(--serif-fonts);
            font-size: 1.2rem;
            margin-bottom: 1rem;
            padding: 2rem;
            width: 16rem;
            
            p {
                margin-top: 0;
                hyphens: auto;
            }
            
            .who {
                text-align: right;
                font-size: 1rem;
                font-variant: all-small-caps;
            }
            
            .link {
                float: left;
                font-size: 0.6rem;
                position: relative;
                top: 0.4rem;
                display: none;
            }

            &:hover .link {
                display: block;
            }

            footer {
                font-size: .8rem;
                display: none;
            }
        }
    }
}

article.manuale {
    background-color: var(--content-color);
    border: 1px solid black;
    padding: 1rem;
    box-shadow: 2px 2px 0px #ddd;
    
    p {
        margin-top: 0;
    }
    
    .who {
        text-align: right;
        font-size: .8rem;
    }

    #meta, h1 {
        display: none;
    }
}

.scheda {
    article {
        background-color: var(--content-color);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        font-family: var(--base-fonts);
        font-size: 2rem;
        margin: 0 auto;
        padding: 2rem 4rem;
        max-width: var(--max-width);

        p {
            hyphens: none;
        }

        .who {
            font-size: 1.4rem;
            font-variant: all-small-caps;
            text-align: right;
            letter-spacing: 1px;
        }

        h1, aside {
            display: none;
        }
    }
}

@media only screen and (max-width: 450px) {
    .scheda article {
        padding: 1rem 2rem;

        p {
            margin-top: 0;
        }
    }
}