.pubblicazione {
    .book {
        display: flex;
        margin: 0 auto 4rem auto;
        max-width: $max_width;
        justify-content: space-around;
        align-items: stretch;
        
        img {
            width: 14rem;
        }

        .description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            margin: 1rem;
            font-family: $serif_fonts;
            
            .title {
                font-size: 2rem;
                font-weight: 460;
                margin-bottom: 0;
            }

            .stores {
                display: flex;
                padding: 0;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;

                li {
                    list-style: none;

                    svg {
                        height: 2rem;
                        margin: .6rem;
                    }
                }
            }
        }
    }

    article {
        .metadata {
            margin-top: 4rem;
            font-size: .8rem;

            .isbn {
                font-family: $mono_fonts;
            }
        }
    }
}

.book-cover {
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    margin: 1rem;
    width: 8rem;
}

#book-shelf {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .description {
        font-size: .8rem;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .pubblicazione {
        .book {
            flex-direction: column;
            align-items: center;
        }
    }
}