.home #saggi {
    h3 {
        font-weight: 500;
        margin: 1rem 0 .6rem 0;

        a {
            text-decoration: none;
        }
    }

    .mostra-tutti {
        text-align: right;
        font-size: .8rem;
    }
}