#content.dieta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2rem 0;
    margin: 0 auto;
}

.scontrino {
    margin-bottom: 1rem;
    font-size: 16pt;
    font-family: "Merchant Copy";
    width: 14rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    line-height: .8;
    background-color: $content_color;

    .head {
        text-align: center;
        margin: 2rem 0 3rem 0;
        line-height: 1;
        text-transform: capitalize;

        .year {
            font-family: "Merchant Copy Wide";
        }

        .media {
            font-family: "Merchant Copy Double";
        }
    }

    .note {
        margin-bottom: 2rem;
    }

    .foot {
        margin: 2rem 0 1rem 0;

        table {
            width: 100%;
        }
    }

    .sources {
        .header {
            text-align: left;

            .source-type {
                float: left;
            }

            .length {
                float: right;
            }

            .separator {
                clear: both;
            }
        }

        .footer {
            .total {
                text-align: right;
                font-family: "Merchant Copy Wide";

                .total_label {
                    float: left;
                }
            }
        }

        table {
            width: 100%;

            td {
                vertical-align: top;
            }
            
            .length {
                text-align: right;
            }

            .title {
                text-transform: uppercase;
            }
        }

        .books {

            .title {
                padding-left: 16pt;
            }

            .length {
                text-align: right;
            }
        }

        .shows {
            .season {
                padding-left: 16pt;
            }

            .length {
                text-align: right;
            }
        }
    }
}