article {
    background-color: $content_color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: $max_width;
    
    header {
        margin-top: 2rem;
        margin-bottom: 4rem;

        h1 {
            font-family: $serif_fonts;
            font-size: 2rem;
            font-weight: 400;
        }
    }

    p {
        text-align: justify;
    }
    
    .footnotes {
        margin-top: 3rem;
        font-size: .8rem;
        color: adjust-color($color: $text_color, $lightness: 40%);
    }
    
    #meta {
        font-size: .7rem;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 450px) {
    article {
        padding: 1rem 2rem;
    }
}

@import "single_dark";