// Light theme colors
$background_color: #f9f7f6;
$content_color: #fefefe;
$text_color: #222222;
$label_color: adjust-color($color: $text_color, $lightness: 52%);
$footer_color: adjust-color($color: $text_color, $lightness: 70%);
$link: #222222;
$link_hover: #666666;
$link_active: #666666;
$button_background: #7a5f52;
$button_background_active: #a18172;
$button_text: #f9f7f6;

// Dark theme colors
$dark_background_color: #23201f;
$dark_content_color: #2e2e2e;
$dark_text_color: #f2f2f2;
$dark_label_color: adjust-color($color: $dark_text_color, $lightness: -40%);
$dark_footer_color: adjust-color($color: $dark_text_color, $lightness: -40%);
$dark_link: #f2f2f2;
$dark_link_hover: #d8d8d8;
$dark_link_active: #d8d8d8;
$dark_button_background: #504b49;
$dark_button_background_active: #6b6561;
$dark_button_text: #d1cac7;

button {
    padding: 0.3rem 0.8rem;
    margin: 1rem;
    font-size: 0.8rem;
    border-radius: 9999px;
    border-style: solid;
    border-width: 0.2rem;
    border-color: $button_background;
    background-color: $button_background;
    transition: .4s;
    color: $button_text;

    &:hover {
        background-color: $button_background_active;
        border-color: $button_background_active;
        transition: .1s;
    }

    &.active-filter {
        color: $button_background;
        background-color: transparent;
    }
}

@media (prefers-color-scheme: dark) {
    button {
        border-color: $dark_button_background;
        background-color: $dark_button_background;
        color: $dark_button_text;

        &:hover {
            background-color: $dark_button_background_active;
            border-color: $dark_button_background_active;
            transition: .1s;
        }
    
        &.active-filter {
            color: $dark_button_text;
            background-color: transparent;
        }
    }
}

