:root {
    // Light theme colors
    --light-background-color: #f9f7f6;
    --light-content-color: #fefefe;
    --light-text-color: #222222;
    --light-label-color: #a7a7a7;
    --light-footer-color: #d5d5d5;
    --light-link: #222222;
    --light-link-hover: #666666;
    --light-link-active: #666666;
    --light-button-background: #7a5f52;
    --light-button-background-active: #a18172;
    --light-button-text: #f9f7f6;
    
    // Dark theme colors
    --dark-background-color: #23201f;
    --dark-content-color: #2e2e2e;
    --dark-text-color: #f2f2f2;
    --dark-label-color: #8c8c8c;
    --dark-footer-color: #d5d5d5;
    --dark-link: #f2f2f2;
    --dark-link-hover: #d8d8d8;
    --dark-link-active: #d8d8d8;
    --dark-button-background: #504b49;
    --dark-button-background-active: #6b6561;
    --dark-button-text: #d1cac7;

    --background-color: var(--light-background-color);
    --content-color: var(--light-content-color);
    --text-color: var(--light-text-color);
    --label-color: var(--light-label-color);
    --footer-color: var(--light-footer-color);
    --link: var(--light-link);
    --link-hover: var(--light-link-hover);
    --link-active: var(--light-link-active);
    --button-background: var(--light-button-background);
    --button-background-active: var(--light-button-background-active);
    --button-text: var(--light-button-text);

    --success: #bec57f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--dark-background-color);
        --content-color: var(--dark-content-color);
        --text-color: var(--dark-text-color);
        --label-color: var(--dark-label-color);
        --footer-color: var(--dark-footer-color);
        --link: var(--dark-link);
        --link-hover: var(--dark-link-hover);
        --link-active: var(--dark-link-active);
        --button-background: var(--dark-button-background);
        --button-background-active: var(--dark-button-background-active);
        --button-text: var(--dark-button-text);
    }
}

button {
    padding: 0.3rem 0.8rem;
    margin: 1rem;
    font-size: 0.8rem;
    border-radius: 9999px;
    border-style: solid;
    border-width: 0.2rem;
    border-color: var(--button-background);
    background-color: var(--button-background);
    transition: .4s;
    color: var(--button-text);

    &:hover {
        background-color: var(--button-background-active);
        border-color: var(--button-background-active);
        transition: .1s;
    }

    &.active-filter {
        color: var(--button-background);
        background-color: transparent;
    }
}
