---
title: "周易"
date: 2022-07-26T07:46:21+02:00
last_modified_at: 2023-04-01T12:38:16+02:00
class: i-ching
description: Una semplice interfaccia per ottenere i responsi dell'I Ching. I testi sono ancora incompleti.
layout: default
foot_inject:
    - i-ching/i-ching.js
    - i-ching/selettore.js
permalink: /i-ching/
draft: true
---

<div class="hex-wrapper">
    <div class="hex-design">
    {%- assign linee = "6, 5, 4, 3, 2, 1" | split: ", " %}
    {%- for linea in linee %}
        <div class="linea" id="linea-{{ linea }}">
            {% include i-ching/linea.svg %}
        </div>
    {%- endfor %}
    {{ end }}
    </div>
    <div class="selector">
        <button id="linea-6">{% include i-ching/6.svg %}</button>
        <button id="linea-7">{% include i-ching/7.svg %}</button>
        <button id="linea-8">{% include i-ching/8.svg %}</button>
        <button id="linea-9">{% include i-ching/9.svg %}</button>
        <button id="linea-cancella">cancella</button>
    </div>
</div>
<aside id="altro">
    <ul>
        <li><a href="/i-ching/faq.html">FAQ</a></li>
    </ul>
</aside>