<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">
<head>
{% include head.html %}
{%- if page.head_inject and page.head_inject != "" and page.head_inject != nil %}
    <script src="/assets/js/{{ page.head_inject }}"></script>
{%- endif %}
</head>
<body>
{% if page.print_title != nil %}
    <h1 class="for-print">{{ page.print_title }}</h1>
{% else %}
    <h1 class="for-print">{{ page.title }}</h1>
{% endif %}
{% include header.html %}
    <main id="content" class="{{ page.layout }} {{ page.class }} {{ page.category }}">
{{- content }}
    </main>
{% include footer.html %}
{%- if page.url == "/index.html" %}
{{/* include parole.html  */}}
{%- endif %}
    <script src="/assets/js/whereami.js"></script>
{%- if page.foot_inject and page.foot_inject != "" and page.foot_inject != nil %}
{%- for script in page.foot_inject %}
    <script src="/assets/js/{{ script }}" type="module"></script>
{% endfor %}
{%- endif %}
    </body>
</html>