<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">
<head>
{% include head.html %}
{%- if page.head_inject and page.head_inject != "" and page.head_inject != nil %}
    <script src="/js/{{ page.head_inject }}"></script>
{%- endif %}
</head>
<body>
{% include header.html %}
    <main id="content" class="{{ page.layout }} {{ page.class }} {{ page.category }}">
{{- content }}
    </main>
{% include footer.html %}
    <script src="/js/whereami.js"></script>
{%- if page.foot_inject and page.foot_inject != "" and page.foot_inject != nil %}
    <script src="/js/{{ page.foot_inject }}"></script>
{%- endif %}
    </body>
</html>