<section id="in-lettura">
    {{ with .Site.GetPage "/in-lettura" }}
    {{ $books := where .Pages "Params.reading" true }}
    {{ if gt (len $books) 0 }}
    <h2>In lettura</h2>
    <div id="book-shelf">
    {{ range $books }}
    <div class="book">
        {{- $cover := .Resources.GetMatch "cover.jpg" -}}
        {{- if $cover -}}
        {{- $base_width := (int .Params.width) -}}
        {{- $base_height := (div (mul $cover.Height $base_width) $cover.Width) -}}
        {{- $x1 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 2))) -}}
        {{- $x2 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 3))) -}}
        {{- $x3 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 4))) -}}
        {{- $x4 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 5))) }}
        <a href="{{ .Params.book_url }}" target="_blank">
            <img src="{{ $cover.RelPermalink }}" srcset="{{$x1.RelPermalink}} 1x, {{$x2.RelPermalink}} 2x, {{$x3.RelPermalink}} 3x, {{$x4.RelPermalink}} 4x" alt="{{ .Title }} di {{ .Params.book_author }}" class="book-cover" style="width:{{ div $base_width 2 }}px;height:{{ div $base_height 2 }}px">
        </a>
        {{- end }}
    </div>
    {{ end }}
    </div>
    {{ end }}
    {{ end }}
</section>