<section id="info">
    <h2>Chi sono</h2>
    <p>Sono scrittore, sceneggiatore, consulente editoriale e insegnante di scrittura creativa che da dieci anni lavora con storie e parole.</p>
    <p>Collaboro con case editrici e agenzie letterarie offrendo servizi di editing, valutazione manoscritti, e ghost-writing. In passato ho lavorato anche con privati, ma oggi preferisco lavorare con chi ha già le idee chiare su come sfruttare l’opera.</p>
    <p>Mi piace molto insegnare scrittura creativa, e sono sempre disponibile a prendere parte a nuovi corsi. Ho tenuto lezioni in biblioteche, aziende, scuole e studentati, sia con adulti che con bambini e ragazzi. Alcuni dei corsi da me organizzati erano rivolti ad aspiranti scrittori, altri a persone che volevano semplicemente provare un’esperienza nuova.</p>
</section>