        <section id="pubblicazioni">
        {% assign pubblicazioni = site["pubblicazioni"] | where: "show", true | sort: "published" | reverse %}
        {%- if pubblicazioni.size > 0 %}
            <div id="book-shelf">
            {%- for libro in pubblicazioni %}
            <div class="book">
                <a href="{{ libro.url }}">
                    {% picture book_cover books/{{ libro.isbn }}.jpg --alt {{ libro.title }} %}
                </a>
            </div>
            {%- endfor %}
            </div>
        {%- endif %}
        </section>