        <section id="pubblicazioni">
        {% assign pubblicazioni = site["pubblicazioni"] | sort: "published" | reverse %}
        {%- if pubblicazioni.size > 0 %}
            <h2>Pubblicazioni selezionate</h2>
            <div id="book-shelf">
            {%- for libro in pubblicazioni %}
            {%- if libro.show %}
                <div class="book">
                    <a href="{{ libro.url }}">
                        <img src="/img/books/{{ libro.isbn }}.jpg" alt="{{ libro.title }}" class="book-cover" style="width:{{ libro.width | divided_by: 1  }}px">
                    </a>
                </div>
            {%- endif %}
            {%- endfor %}
            </div>
        {%- endif %}
        </section>