        <section id="spoiler">
        {% assign recensioni = site["spoiler"] | where: "show", true | sort: "published" | reverse %}
        {%- if recensioni.size > 0 %}
            <h2>Spoiler</h2>
            <ul>
            {%- for recensione in recensioni limit: 4%}
                <li>
                    <a href="{{ recensione.url }}">
                        <img src="/img/movies/{{ recensione.imdb }}.jpg" alt="Poster di {{ recensione.title }} ({{ recensione.year }})" class="poster">
                        <div class="legend">
                            <span class="title">{{ recensione.title }}</span>
                            <span class="year">({{ recensione.year }})</span>
                        </div>
                    </a>
                </li>
            {%- endfor %}
            </ul>
            {% if recensioni.size > 4 %}
            <a href="/spoiler/" class="more">tutti gli spoiler &rarr;</a>
            {% endif %}
        {%- endif %}
        </section>