{{ $resolutions := split "1 2 3" " " }}
{{ $widths := split "200 300 400 500 600 700 768" " " }}
{{ $scratch := newScratch }}
{{ $label := .Get 0 }}
{{ $alt_text := .Get 1 }}

<picture>
{{ range $resolutions }}
    {{ $scratch.Set "srcset" "" }}
    {{ $scratch.Set "resolution" . }}
    {{ range $widths }}
        {{ $scratch.Add "srcset" (printf "/img/post/%s@%sx%sw.png %sw, " $label ($scratch.Get "resolution") . . ) }}
    {{ end }}
    <source srcset="{{ $scratch.Get "srcset" | safeHTMLAttr }}" media="(max-resolution: {{ . }}dppx)">
{{ end }}
    <img src="/img/post/{{ $label }}.png" alt="{{ $alt_text }}">
</picture>